[submodule "vim/bundle/AutoClose"]
	path = vim/bundle/AutoClose
	url = https://github.com/vim-scripts/AutoClose.git
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/indentLine"]
	path = vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "vim/bundle/nerdtree-git-plugin"]
	path = vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/bundle/papercolor-theme"]
	path = vim/bundle/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "vim/bundle/python-syntax"]
	path = vim/bundle/python-syntax
	url = https://github.com/hdima/python-syntax.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/vim-monokai-tasty"]
	path = vim/bundle/vim-monokai-tasty
	url = https://github.com/patstockwell/vim-monokai-tasty.git
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "vim/bundle/vim-devicons"]
	path = vim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/vim-python-pep8-indent"]
	path = vim/bundle/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule "vim/bundle/vim-nerdtree-syntax-highlight"]
	path = vim/bundle/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "vim/bundle/vim-fish"]
	path = vim/bundle/vim-fish
	url = https://github.com/dag/vim-fish.git
[submodule "vim/bundle/vim-visual-multi"]
	path = vim/bundle/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi.git
[submodule "vim/bundle/vim-fugitive.git"]
	path = vim/bundle/vim-fugitive.git
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/vim-LanguageTool"]
	path = vim/bundle/vim-LanguageTool
	url = git@github.com:dpelle/vim-LanguageTool.git
[submodule "vim/bundle/copilot.vim"]
	path = vim/bundle/copilot.vim
	url = https://github.com/github/copilot.vim
